  <div class="row" >
    <div class="col-md-12 text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Cuánto falta</h6>
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-center">
    <div class="row">
      <div class="col m-2 p-5 border rounded">
        <div #circleDays class="circle-progress">
          <span class="progress-value">{{days}}</span>
        </div>
        <span class="text">Días</span>
      </div>
      <div class="col m-2 p-5 border rounded">
        <div #circleHours class="circle-progress">
          <span class="progress-value">{{hours}}</span>
        </div>
        <span class="text">Horas</span>
      </div>
      <div class="col m-2 p-5 border rounded">
        <div #circleMinutes class="circle-progress">
          <span class="progress-value">{{minutes}}</span>
        </div>
        <span class="text">Minutos</span>
      </div>
      <div class="col m-2 p-5 border rounded">
        <div #circleSeconds class="circle-progress">
          <span class="progress-value">{{seconds}}</span>
        </div>
        <span class="text">Segundos</span>
      </div>
    </div>
  </div>


