<div class="container-fluid" id="mapa">
  <div class="row">
    <div class="col text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Cómo llegar</h6>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <iframe class="border rounded"
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13397.490473000216!2d-68.84665435000001!3d-32.91475215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1679538233716!5m2!1ses-419!2sar"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
