<div class="container-fluid p-0 mb-5 pb-5" id="home">
  <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 100vh; min-height: 400px;" *ngFor="let item of images; let index = index; let isFirst = first;" [ngClass]="{ active: isFirst }">
        <img src="{{item}}" class="d-block w-100 h-100" alt="imagenes" style="object-fit: cover; position: absolute;">
        <div class="carousel-caption d-flex align-items-center justify-content-center">
          <div class="p-3" style="max-width: 900px;">
            <h1 class="display-1 font-secondary text-white mt-3 mb-md-4">Carla & Matías</h1>
            <div class="d-inline-block border-top border-bottom border-light py-3 px-4">
              <h3 class="text-uppercase font-weight-normal text-white m-0" style="letter-spacing: 2px;">Nos casamos</h3>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="btn btn-primary carousel-control-prev-icon" style="width: 50px; height: 60px;" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next justify-content-end" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next" >
      <span class="btn btn-primary carousel-control-next-icon" style="width: 50px; height: 60px;" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
